<ion-header>
    <custom-header title="Easy NOW"></custom-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides *ngIf="sliders && sliders.length" autoplay="3000" class="slideroption" pager="true"  loop="true" speed="300">
      <ion-slide *ngFor="let slide of sliders">
          <span *ngFor="let item of slide.attachments">
              <img src="{{item.images.full.url}}" />
          </span>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <div *ngFor="let category of categories; let i = index" class="card-background-page">
    <ion-card class="home-cat-item" col-12 *ngFor="let sub of category.subCategories" (click)="openCategoryPage(sub)">
      <img src="{{sub.image}}" />
      <div class="card-title" [innerHTML]="sub.name"></div>
    </ion-card>
  </div>
  <div id="prod-cat-list">
    <ion-list>
      <ion-item class="cat-list-item" *ngFor="let product of moreproducts" text-wrap>
        <ion-thumbnail item-left>
          <img [src]="product.featured_src" />
        </ion-thumbnail>
    
        <h2> {{ product.title }} </h2>
    
        <p>
          <span [innerHTML]="product.price_html"></span>
        </p>
    
        <button ion-button round outline item-right color="danger" (click)="addToCart(product)">Add</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
