<ion-header>
    <custom-header title="Easy NOW"></custom-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides *ngIf="sliders && sliders.length" autoplay="3000" class="slideroption" pager="true"  loop="true" speed="300">
      <ion-slide *ngFor="let slide of sliders">
          <span *ngFor="let item of slide.attachments">
              <img src="{{item.images.full.url}}" />
          </span>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <div *ngFor="let category of categories; let i = index" class="card-background-page">
    <ion-card class="home-cat-item" col-12 *ngFor="let sub of category.subCategories" (click)="openCategoryPage(sub)">
      <img src="{{sub.image}}" />
      <div class="card-title" [innerHTML]="sub.name"></div>
    </ion-card>
  </div>
  <ion-row>
      <ion-col col-6 *ngFor="let product of moreproducts" text-wrap (click)="openProductPage(product)">
        <ion-thumbnail item-left>
            <img [src]="product.featured_src" />
          </ion-thumbnail>
          <h2 [innerHTML]="product.title.substr(0, 50) + '...'"></h2>
          <p>
            <span [innerHTML]="product.price_html"></span>
          </p>
      </ion-col>
  </ion-row>
</ion-content>
