<ion-header>
    <custom-header title="Search"></custom-header>
    <ion-toolbar color="danger">
        <ion-searchbar [(ngModel)] = "searchQuery" (search)="onSearch()" placeholder="What are you looking for"></ion-searchbar>
    </ion-toolbar>
  
  </ion-header>
  
  
  <ion-content padding  id="prod-cat-list">
      <ion-list *ngIf="!products">
        <ion-item *ngFor="let item of searchHistList">
          {{item}}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="cat-list-item" *ngFor="let product of products" text-wrap>
          <ion-thumbnail item-left>
            <img [src]="product.featured_src" />
          </ion-thumbnail>
      
          <h2> {{ product.title }} </h2>
      
          <p>
            <span [innerHTML]="product.price_html"></span>
          </p>
      
          <button ion-button round outline item-right color="danger" (click)="addToCart(product)">Add</button>
        </ion-item>
      </ion-list>
  
      <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
  </ion-content>
